%btn-nav-base {
  @include text-style(16);
  @include inline-flexbox();
  height: 34px;
  padding: 8px;
  border-radius: 4px;
}

.btn-nav-login {
  @extend %btn-nav-base;
  background-color: #fff;
  margin-right: 8px;
  border: 1px solid #dbdbdb;
}

.btn-nav-signin {
  @extend %btn-nav-base;
  background-color: #ff7867;
  color: #fff;
}
