.card {
  position: relative;
  width: 231.18px;
  height: 316px;
  margin-right: 6px;
}

.card-front {
  &:hover + .card-back {
    display: block;
  }

  .card-img {
    width: 231.19px;
    height: 150.5px;
    margin-right: 6px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .card-content {
    padding: 8px 0;

    .lecture-title {
      flex: 1 1 auto;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1.5em;
      height: 3rem;
      color: #454545;
      font-size: 1rem;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨
    }

    .instructor {
      color: #7d7d7d;
      font-size: 0.9rem;
      line-height: 1.5em;
    }

    .review {
      height: 24px;

      @include inline-flexbox(start);
      &-avg {
        @include inline-flexbox();
        font-size: 14.3px;
      }

      &-cnt {
        font-size: 10px;
        line-height: 15px;
        color: #4a4a4a;
      }
    }
    .price {
      @include flexbox(start, center);
      .del {
        text-decoration: line-through;
        font-weight: 500;
        color: #7d7d7d;
        font-size: 0.9rem;
        margin-right: 4px;
      }

      span {
        height: 24px;
        line-height: 18.4px;
        font-weight: 700;
        color: #175cbe;
      }
    }

    .tags {
      padding-top: 8px;
    }
  }
}

.card-back {
  display: none;
  height: inherit;

  &:hover {
    display: block;
  }

  a {
    position: absolute;
    padding: 12px;
    width: 231.19px;
    height: inherit;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .lecture-title {
    @include text-style(15_2);
    font-weight: 700;
    color: #fff;
    margin-bottom: 19.2px;
  }

  .lecture-metas {
    @include text-style(13);
    @include column-flexbox(center, start);
    color: #c5ebf8;
  }

  .lecture-active {
    @include column-flexbox();
    position: absolute;
    bottom: 18px;
    right: 2.4px;
    color: #fff;

    .ic-heart {
      font-size: 17px;
      padding: 2.4px;

      &:hover {
        color: #e94e58;
        cursor: grab;
      }
    }

    .ic-plus {
      font-size: 19px;
      padding: 2.4px;

      &:hover {
        cursor: grab;
      }
    }
  }
}
