.menu {
  width: 100%;
  margin-right: 20px;
  border-bottom: 1px solid #434a54;

  &-dropbox-remote {
    @include flexbox(between, center);
    cursor: pointer;

    strong {
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: #eee;
      padding: 16px 0 14px;
      line-height: 1.43;
    }

    .ic-down {
      font-size: 12px;
      font-weight: 700;
      color: #eee;

      &.is-active {
        transform: rotate(180deg);
      }
    }
  }

  &-dropbox {
    display: none;

    &.is-active {
      display: block;
    }
  }

  li:last-child {
    margin-bottom: 17px;
  }

  li {
    margin-bottom: 7px;

    a {
      display: block;
    }
  }

  a {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.43;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include responsive(T) {
    width: auto;
    border: 0;

    li {
      margin-bottom: 3px;

      a {
        display: inline;
      }
    }

    &-dropbox {
      display: block;
    }
  }
}
