.review-card {
  margin: 5px 5px 20px;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 10, 18, 0.1), 0 0 0 1px rgba(0, 10, 18, 0.1);

  &-header {
    margin-bottom: 16px;

    .student {
      color: #757570;
      margin-right: 8px;
    }

    .date {
      font-size: 0.875rem;
      color: #979797;
    }
  }

  &-content {
    a {
      @include inline-flexbox(start, center);
      margin-bottom: 4px;
      color: #333;

      &:hover {
        color: #595950;
        text-decoration: underline;
      }

      h1 {
        @include inline-flexbox(start, center);
        font-weight: 700;
        font-size: 1.125rem;
        margin-right: 8px;

        span {
          display: block;
          @include inline-flexbox(center, center);
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }
}
