.roadmap-nav {
  @include flexbox(between);
  margin-bottom: 12px;
  padding: 0 12px;

  &-left {
    i.ic-slider {
      color: #929292;
      font-size: 24px;
    }
  }

  &-right {
    button:last-child {
      margin-left: 12px;
    }

    button.is-active {
      i {
        color: #595959;
      }
    }

    i {
      color: #929292;
      font-size: 24px;
    }
  }
}
