// swiper
%btn-swiper-section-base {
  @include inline-flexbox();
  height: 36px;
  padding: 0 16px;
  border-radius: 20px;
}

.btn-swiper {
  @extend %btn-swiper-section-base;
  @include text-style(14);
  @include inline-flexbox(between);
  width: 135px;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
}

.btn-swiper-pagination {
  @extend %btn-swiper-section-base;
  font-size: 0.875rem;
  line-height: 2.5em;
  font-weight: 700;
  border: 1px solid #ced4da;
  color: #495057;
}
