.service {
  padding: 48px 0;
  background-color: #f9f9f9;

  &-header {
    margin-bottom: 20px;

    h1 {
      font-size: 1.5rem;
      line-height: 1.5;
      color: #1e1e1e;
      margin-bottom: 4px;
    }

    span {
      font-size: 0.9375rem;
      line-height: 1.5;
      font-weight: 400;
      color: #757575;
    }
  }

  &-wrapper {
    @include flexbox(between);
  }
}
