.navbar {
  &-wrapper {
    @include text-style(16, #4a4a4a);
    @include flexbox(between);
    padding: 9px (32px-$md-margin);
    height: 64px;
  }

  // left part
  &-left {
    @include flexbox();
    height: 64px;
    line-height: 24px;
    text-align: start;

    .ic-brand {
      font-size: 90px;
      color: #1dc078;
      margin-right: 10px;
    }
  }

  &-list {
    @include flexbox();

    li {
      padding: 8px 16px;
    }
    :hover {
      color: #1dc078;
    }
  }

  // right part
  &-right {
    @include flexbox(end);
  }

  &-input-group {
    position: relative;
    margin-right: 18px;
    background-color: #f6f6f6;
    color: #5f5f5f;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      border: 1px solid #b5b5b5;
    }

    .navbar-input {
      width: 148px;
      height: 36px;
      padding: 5px 9px;
      color: #5f5f5f;

      &:focus {
        outline: 0.04rem auto #1dc078;
        border-color: #1dc078;
        box-shadow: 0 0 0 0.125em rgba(27, 187, 115, 0.25);
      }
    }

    .ic-search {
      @include pos-center-y;
      right: 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
